.dogImages_container{
	height:100%;
}
.Introduction{
	height:50px;
}
.imageResult{
	height:300px;
}
.otherImages{
	height:100%;
}
.showImage{
	height:300px;
	position:absolute;
	width:50%;
}
.showResult{
	height:300px;
	position:absolute;
	width:50%;
	left:50%;
}
.showResult{
	word-break: break-all;
	word-wrap: break-word;
}